{
    "clusters": [
        {
            "nodes": [
            {% for host in groups['storage'] %}
                {
                    "node": {
                        "hostnames": {
                            "manage": [ "{{ hostvars[host].ansible_fqdn }}" ],
                            "storage": [ "{{ hostvars[host].ansible_default_ipv4.address }}" ]
                        },
                        "zone": 1
                    },
                    "devices": [ {% for device in hostvars[host].ansible_devices.keys()[1:] -%}
                       "/dev/{{ device }}"{% if not loop.last %},{% endif %}
                    {%-endfor %} ]
                }
                {% if not loop.last %},{% endif %}
            {% endfor %} 
            ]
        }
    ]
}
